@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  width: 100%;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2901960784);
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  padding-bottom: 1.25em;
}
.header__menu {
  margin-top: 1.75em;
  margin-left: 1.25em;
}
.header__logo {
  display: inline-block;
  margin-top: 1.063em;
  margin-left: 2em;
}
.header__logo .logo_H {
  box-shadow: 0 14px 24px rgba(139, 139, 139, 0.2509803922);
}
.header__logo .logo_miranda {
  margin-left: 1.25em;
}
.header__user_icon {
  margin-top: 1.438em;
  margin-left: 6.313em;
}
.header__search_icon {
  margin-top: 1.438em;
  margin-left: 1.25em;
}

.navBar {
  display: none;
  width: 100%;
  background-color: #FFFFFF;
  margin-top: 1.25em;
}
.navBar__list {
  list-style: none;
  margin-left: 1.313em;
}
.navBar__list-item {
  margin-bottom: 1.25em;
}
.navBar__list a {
  font-family: "archivo";
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  color: #111111;
  cursor: pointer;
}

.banner {
  background-color: #333333;
  padding: 0 1.25em;
  padding-top: 8.75em;
  padding-bottom: 1.25em;
}
.banner__title, .banner__subtitle {
  color: #FFFFFF;
}

.availability {
  background-color: #222222;
  padding: 1.25em;
}
.availability__Form_data label {
  display: block;
  font-family: "roboto";
  font-weight: 700;
  font-size: 1rem;
  color: #FFFFFF;
  margin-bottom: 1.25em;
}
.availability__Form_data input {
  width: 100%;
  border: none;
  appearance: none;
  border-bottom: 2px solid #BEAD8E;
  background-color: #222222;
  margin-bottom: 1.25em;
  text-indent: 2em;
  line-height: 2em;
  font-family: "roboto";
  font-weight: 400;
  font-size: 0.875rem;
}
.availability__Form_data ::placeholder {
  background-image: url("../img/calendar_icon.svg");
  background-repeat: no-repeat;
}

.aboutUs {
  text-align: center;
}
.aboutUs__title {
  color: #777777;
}
.aboutUs__txt_justify {
  text-align: left;
  font-family: "archivo";
  font-size: 0.875rem;
  font-weight: 400;
  color: #777777;
  line-height: 1.5em;
  padding-bottom: 1.25em;
}
.aboutUs__qualities {
  padding: 2.5em;
}
.aboutUs__qualities_pic {
  width: 100%;
}
.aboutUs__qualities_descrip {
  padding: 1.25em;
}
.aboutUs__qualities_descrip-icon {
  margin-bottom: 1.25em;
}
.aboutUs__qualities_descrip-title {
  margin-bottom: 1.25em;
  font-family: "old standard tt";
  font-weight: 400;
  font-size: 1.875rem;
  color: #111111;
  letter-spacing: -0.056em;
}
.aboutUs__qualities_descrip-txt {
  font-family: "roboto";
  font-weight: 400;
  font-size: 0.875rem;
  text-align: center;
  color: #111111;
}
.aboutUs__qualities_descrip-title--color, .aboutUs__qualities_descrip-txt--color {
  color: #FFFFFF;
}
.aboutUs__qualities_descrip--backgroundColor {
  background-color: #222222;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.title {
  font-family: "archivo";
  font-size: 0.813rem;
  font-weight: 700;
  margin-right: 10em;
  margin-bottom: 1.25em;
  letter-spacing: 0.175em;
  text-transform: uppercase;
}

.subtitle {
  font-family: "old standard tt";
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: -0.075em;
  margin-bottom: 1.25em;
}

.btn {
  display: block;
  width: 13.5em;
  height: 3.75em;
  font-family: "archivo";
  font-weight: 700;
  font-size: 0.875rem;
  color: #FFFFFF;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: #333333;
  margin-bottom: 1.25em;
  cursor: pointer;
  text-transform: uppercase;
}

.btn_theme--color {
  background-color: #BEAD8E;
}

.section {
  margin-bottom: 1.25em;
  padding: 1.25em;
}

/*# sourceMappingURL=styles.css.map */
