@import 'styles/var.scss';
@import 'styles/header.scss';
@import 'styles/navBar.scss';
@import 'styles/banner.scss';
@import 'styles/availabilitySection.scss';
@import 'styles/aboutUsSection.scss';

html, * { 
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
body { 
    min-width: 320px 
}
.title {
    font-family: $archivoFont;
    font-size: 0.813rem;
    font-weight: 700;
    margin-right: 10em;
    margin-bottom: $marginBottom;
    letter-spacing: 0.175em;
    text-transform: uppercase;
}
.subtitle {
    font-family: $oldStandardFont;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: -0.075em;
    margin-bottom: $marginBottom;
}
.btn {
    display: block;
    width: 13.5em;
    height: 3.75em;
    font-family: $archivoFont;
    font-weight: 700;
    font-size: 0.875rem;
    color: $whiteColor;
    border: 2px solid #ffffff33;
    background-color: $colorBlack3;
    margin-bottom: $marginBottom;
    cursor: pointer;
    text-transform: uppercase;
}
.btn_theme--color {
    background-color: $colorTheme;
}
.section {
    margin-bottom: $marginBottom;
    padding: $padding;
}


