@import 'var.scss';

.title {
    font-family: $archivoFont;
    font-size: 0.813rem;/* 13px */
    font-weight: 700;
    margin-bottom: $marginBottom;
    letter-spacing: 0.175em;/* 2.8px */
    text-transform: uppercase;
    color: $colorSectionTitle;

    &--color-white {
        color: $whiteColor;
    }
    &-founder {
        font-size: 0.875rem;
        color: $colorIntroVideo;
    }
}
.subtitle {
    font-family: $oldStandardFont;
    font-size: 3.5rem;/* 56px */
    font-weight: 400;
    letter-spacing: -0.075em;
    margin-bottom: $marginBottom;
    color: $colorBlack2;

    &--color-white {
        color: $whiteColor;
    }
    &--font-size {
        font-size: 1.875rem;/* 30px */
    }
    &--font-size-xl {
        font-size: 3.75rem;/* 60px */
        margin-bottom: 0;
    }
    &--margin-right {
        margin-right: 5em;
    }
    &__rooms-description-title {
        font-size: 1.5rem;/* 24px */
        letter-spacing: -0.045em;
    } 
}
.txt {
    font-family: $archivoFont;
    font-weight: 400;
    font-size: 0.875rem;/* 14px */
    color: $colorSectionTitle;
    margin-bottom: $marginBottom;
    line-height: 1.5em;

    &--color-white {
        color: $whiteColor;
    }
    &--font-size {
        font-size: 1rem;
    }
    &--roboto {
        font-family: $robotoFont;
        font-weight: 400;
        font-size: 0.875rem;/* 14px */
        color: $colorSectionTitle;
        margin-bottom: $marginBottom;
        line-height: 1.5em;

        &-font-size {
            font-size: 1rem;
        }
    }
    &--archivo-lightGrey {
        font-family: $archivoFont;
        font-weight: 700;
        font-size: 1rem;
        color: $colorLightGrey;

        &-display-inline {
            display: inline-block;
            margin-left: 0.5em;
        }
    }
}
.span {

    &--roboto {
        font-family: $robotoFont;
        font-weight: 400;
        font-size: 1rem;
        color: $colorSectionTitle;
        display: block;
        letter-spacing: 0;
    }
    &--font-size {
        font-size: 0.813rem;/* 13px */
    }
}
.btn {
    display: block;
    width: 13.5em;
    height: 3.75em;
    font-family: $archivoFont;
    font-weight: 700;
    font-size: 0.875rem;
    color: $whiteColor;
    border: 2px solid #ffffff33;
    background-color: $colorBlack3;
    margin-bottom: $marginBottom;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.175em;

    &-availability-room {
        margin: 0 auto;
        width: 18.125em;
        font-weight: 400;
        padding: $padding;
    }
}
.btn_theme--color {
    background-color: $colorTheme;
}
.introVideo__btn--video{
    position: relative;
    top: -16.5em;
    left: 10em;
    background-color: $whiteColor;
    width: 4em;
    height: 4em;
    border-radius: 2em;
    margin: 0;
}
.section {
    padding: $padding;
    margin-bottom: $marginBottom;
}
.header {
    z-index: 2;
}
.swiper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    
    &-button-prev, &-button-next {
        width: 2em;
        height: 2em;
        top: 35%;
        color: $colorBlack;
        background-color: $whiteColor;
        --swiper-navigation-size: 25%;
    }
    &-button-prev:hover, &-button-next:hover {
        color: $whiteColor;
        background-color: $colorTheme;
    }
    &-button-prev--custom-position, &-button-next--custom-position {
        top: 99.6%;
    }
    &-pagination {
        position: relative;
        bottom: 0;
        margin-bottom: $marginBottom;

        
        &-bullet--custom {
            border-radius: 0;
            width: 2em;
            height: 2em;
            background-color: $whiteColor;
            font-family: $oswaldFont;
            font-weight: 700;
            font-size: 0.875rem;
            color: $colorBlack2;
            opacity: 1;
            padding-top: 0.2em;
        }
        &-bullet-active {
            background-color: $colorTheme;
        }
    }
}
.pricepernight {
    font-family: $archivoFont;
    font-weight: 700;
    font-size: 1rem; 
    color: $colorTheme; 

    &--font-size {
        font-size: 2rem;
    }
    &--display-inline {
        display: inline-block;
        margin-right: 0.5em;
    }
}



