@use 'sass:math';
@import 'var.scss';
@import 'global.scss';
@import 'header.scss';
@import 'navBar.scss';
@import 'banner.scss';
@import 'availability-section.scss';
@import 'aboutus-section.scss';
@import 'rooms-section.scss';
@import 'introvideo-section.scss';
@import 'facilities-section.scss';
@import 'our-food-section.scss';
@import 'index-swiper.scss';
@import 'data-section.scss';
@import 'footer.scss';
@import 'principal.scss';
@import 'about-video-box.scss';
@import 'about-serv-section.scss';
@import 'about-resto-section.scss';
@import 'about-facilities.scss';
@import 'about-counter-section.scss';
@import 'about-swiper.scss';
@import 'rooms-swiper-section.scss';
@import 'room-details-main.scss';
@import 'offers-main.scss';
@import 'offers-popular-list.scss';
@import 'contact-data.scss';
@import 'contact-section.scss';

html, * { 
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
body { 
    min-width: 320px;
}
