@use 'sass:math';
@import './var.scss';

.banner {
    background-color: $colorBlack3;
    padding: 0 $padding;
    padding-top: $padding*7;
    padding-bottom: $paddingBottom;

    &__title, &__subtitle {
        color: $whiteColor;
    }
}