@use 'sass:math';
@import './var.scss';

.facilities {
    padding: $padding;
    text-align: center;

    &__title {
        color: $colorSectionTitle;
    }
    &__descrip {
        text-align: left;
        padding-left: $padding;
        margin-right: $margin*3;

        img {
            margin-bottom: $marginBottom;
        }
        &_title {
            font-family: $oldStandardFont;
            font-weight: 400;
            font-size: 1.875rem;
            letter-spacing: -0.056em;
            margin-bottom: $marginBottom;
        }
        p {
            font-family: $archivoFont;
            font-weight: 400;
            font-size: 0.875rem;
            color: $colorSectionTitle;
            margin-bottom: $marginBottom;
        }
    }
}