@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

$archivoFont: 'archivo';

$whiteBackgroundColor: #FFFFFF;
$colorBlack: #111111;
$boxShadowColor: #0000004A;

$paddingBottom: 1.25em;
$marginBottom: 1.25em;