@import './var.scss';

.videoBox {
    position: relative;
    padding: $padding;
    text-align: center;
    margin: 0 auto;

    .video {
        width: 90%;
        height: 25%;
        margin-bottom: $marginBottom;
    }
    .video__btn {
        background-color: $whiteColor;
        width: 4em;
        height: 4em;
        border-radius: 2em;
        margin: 0;
        border: 1px solid black;
    
        &--position {
            position: relative;
            bottom: 9em;
            right: -10em;
        }
    }
    p {
        padding: 0 0.5em;
        font-size: 2em;
        width: 90%;
        letter-spacing: -0.073;
    }
}